AUTH_NODE_ENV=dev
AUTH_PORT=5000
AUTH_JWT_SECRET=your-super-secret-jwt-key-change-in-production
AUTH_JWT_EXPIRE=7d

OPPORTUNITIES_PORT=3000
OPPORTUNITIES_HOST=0.0.0.0
OPPORTUNITIES_NEWS_API_KEY=6b531bee0dd24bccbe4f8742eca2fc7e
OPPORTUNITIES_CRON_SCHEDULE=0 */6 * * *

DB_PORT=27017